src/main/app/connector_tutorial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <twitter:config name="Twitter" accessKey="10433742-651u0Lwlwj6azEEfliALtxcrbv5vKCcq6EyF0YgdF" accessSecret="JAEfcSeFocTeq3cTjv4GgUsUgNed6ClzWQCgOquPXdA4E" consumerKey="ONHxAu9GymmIJQ1YUWEMdCm9C" consumerSecret="cPNATaa6gbMFa7dlYvxdkZbO2ywuWoKH5SKeFT2QtWKPTB1VGm" doc:name="Twitter: Configuration"/>
    <flow name="connector_tutorialFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/gettweets" doc:name="HTTP"/>
        <twitter:get-user-timeline-by-screen-name config-ref="Twitter" screenName="falese" doc:name="Twitter"/>
        <response>
            <twitter:update-status config-ref="Twitter" status="#[payload]" doc:name="Twitter"/>
        </response>
        <foreach doc:name="For Each">
            <logger message="#[payload.text]" level="INFO" doc:name="Logger"/>
        </foreach>
        <response>
            <set-payload value="#[message.payload[0].text]" doc:name="Set Payload"/>
        </response>
    </flow>
</mule>
